/venv/
.idea/inspectionProfiles/profiles_settings.xml
*.xml
server/main_api_server/db.sqlite3
server/main_api_server/main_api_server/__pycache__/settings.cpython-310.pyc
*.pyc
*.pyc
server/main_api_server/main_api_server/__pycache__/settings.cpython-310.pyc
