/venv/
.idea/inspectionProfiles/profiles_settings.xml
*.xml
server/main_api_server/db.sqlite3
server/main_api_server/main_api_server/__pycache__/settings.cpython-310.pyc
*.pyc
*.pyc
server/main_api_server/main_api_server/__pycache__/settings.cpython-310.pyc
server/local-docker-compose.yml
client/package-lock.json
/server/main_api_server/users/migrations/0001_initial.py
/server/main_api_server/users/migrations/0002_accounts_delete_user.py
/server/main_api_server/users/migrations/0003_rename_accounts_account.py
/server/main_api_server/users/migrations/0004_rename_password_account_password_hash.py
/server